<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>

    <script src="./jscript/vue.js"></script>

<style>
[v-cloak] {
  display:none
}

.cred{
  color:red
}
.cyellow{
  color:green
}
</style>

    <h1>VUE TEST !!!</h1>
    <div id="app-9">{{ message }}</div>
    <div id="app">
      {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title="message ">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
      </span>
    </div>
    <div id="app-3">
      <p v-if="seen">现在你看到我了</p>
    </div>
    <ul id="app-4">
      <li v-for="(todo,index) in todos">{{ todo.text }} --- {{ index }}</li>
    </ul>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">反转</button>
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message" />
    </div>

    <div id="app-7">
      <ol>
        <todo-item
          v-for="item in myList"
          v-bind:todo="item"
          v-bind:key="item.id"
        >
        </todo-item>
      </ol>
    </div>
    <div id="app-8">{{ text }}</div>
    <div id="app-10">
      <div>现在计数：{{ count }}</div>
      <button id="plus" @click="add">+</button>
      <button id="min" onclick="if (app10.count >0 ) app10.count -=1 ">
        -
      </button>
    </div>
    <div id='app-11' >
      <div v-bind:title="message">
        {{message}}

      </div>
    </div> 

    <div id='app-12'>
      <h2>{{message}}</h2>
      <h3 v-once>{{message}}</h3>
      <h3 v-cloak  v-text='url'></h3>
    </div>

    <div id='app-14'>
      <ul>
        <li v-for='(item,index) in books'><a href='#' :class={cred:item.flag} @click=onclick(index)>{{item.name}}</a></li>
      </ul>
    </div>

    <div id='app-15'>
      <h2>
        {{fullname}}

      </h2>
      <h2>总价：{{price}}</h2>
    </div>

<div id='app-13' >
  <img :src='imgurl' alt=''/>
  <a :href='aurl' :class='getClass()'>百度</a>
  <button v-on:click='btnclick'>dianji </button>
  <div :class='getarray()'>例子</div>
</div>


    <script>
      var app18 = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        },
        created: function() {
          // `this` 指向 vm 实例
          console.log('a is: ' + this.message) 
          console.log('hille')
        }
      })
      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: '页面加载于 ' + new Date().toLocaleString()
        }
      })
      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })
      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: '学习 JavaScript' },
            { text: '学习 Vue' },
            { text: '整个牛项目' }
          ]
        }
      })
      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hello vue-5'
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message
              .split('')
              .reverse()
              .join('')
          }
        }
      })
      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: ''
        }
      })

      Vue.component('todo-item', {
        // todo-item 组件现在接受一个
        // "prop"，类似于一个自定义特性。
        // 这个 prop 名为 todo。
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })

      var app7 = new Vue({
        el: '#app-7',
        data: {
          myList: [
            { id: 0, text: 'kk1' },
            { id: 1, text: 'kk2' },
            { id: 2, text: 'kk3' }
          ]
        }
      })

      var data1 = { text: 'app8' }
      const app8 = new Vue({
        el: '#app-8',
        props: ['todo'],
        data: data1
      })

      const app9 = new Vue({
        el: '#app-9',
        data: {
          message: 'HELLO , WNAGXIOAYANG'
        }
      })

      const app10 = new Vue({
        el: '#app-10',
        data: {
          count: 0
        },
        methods: {
          add: function() {
            this.count++
          }
        }
      })

      const app11 = new Vue({
        el:'#app-11',
        data:{
          message:'你好！'
        }
      })

let app12 = new Vue({
  el:'#app-12',
  data:{
    message:'wangxy-cloak',
    url:'<a href="#" >pointer</a>'
    
  }
  

})

let app13 = new Vue({

  el:'#app-13',
  data:{
    imgurl:'https://pic2.zhimg.com/v2-915f23721ada7da07452e6ea55199021_r.jpg',
    aurl:'https://www.baidu.com/',
    mcolor:'cyellow',
    isred:true,
    isyellow:false,
    kk:'fd',
    ll:'wnag'
    
    
  },
  methods:{
    btnclick:function(){
      this.isred =!this.isred
    },
    getClass:function(){
      return {cred:this.isred,cyellow:this.isyellow}
    },
    getarray:function(){    
      return [this.kk, this.ll]
    }
  }
})

let app14 = new Vue({
  el:'#app-14',
  data:{
    books:[
      {name:'book1',flag:false},{name:'book2', flag:true},{name:'book3',flag:false}]
  },
  methods:{
    onclick:function(index){
      // alert(index)
      for (let tmpi = 0 ;tmpi < this.books.length; tmpi ++){
        this.books[tmpi].flag = false;
        
      }
      this.books[index].flag = true;
    }
  }
})

app15 = new Vue({
  el:'#app-15',
  data:{
    firstname:'wang',
    lastname: 'xiaoyang',
    books:[
      { id:100, name:'Name1',price:10},{id:101,name:'Name2',price:200}

    ]
  },
  computed:{
    fullname:function(){
      return this.firstname + ' ' + this.lastname
     },
    price:function(){

      let allprice = 0 
      // foreach ( k in this.books){
      //   allprice += k.price;
      // }


      // foreach (k in this.books){
      //     allprice += k.price
      // }
      for (let i = 0 ; i< this.books.length; i++)
      {
        allprice += this.books[i].price;
      }
      return allprice;
    }
   }
  })

      alert('元素已经加载完毕 , 测试 !')
      app8.text = 'app8 new!!!'
      console.log(data1.text)
      data1.text = 'This is a text !!! '
      console.log(app8.text)
      //}
    </script>
  </body>
</html>
